/******** BODY ********/

* {
  padding: 0;
  margin: 0;
  margin: border-box;
}

body {
  height: 100vh; /* viewport height */
   display: flex;
   background: black;
}


/******** IMAGES ********/

.memoryGame {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.memoryCard {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform: scale(1);
}

.memoryCard:active {
  transform: scale(0.97);
  transition: transform .2s;
}

/******** FRONT/BACK FACE ********/

.frontFace{  
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute; 
    border-radius: 5px;
    /* border: 2px solid white; */
    background: yellow;

}
.backFace {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute; 
  border-radius: 5px;
  /* border: 2px solid white; */
  background: yellow;

}

/******** 
Box-sizing: content box 
width: 300px
height: 200px
padding: 40px;
boreder: 30px;
(new total w: 440px, h: 340px)
*********
Box-sizing: boreder-box
width: 300px
height: 200px
border: 30px;
padding: 40px
(new total w: 300px, h: 200px)
*********/
