
*{
    transition: all .5s;
}
    
   h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3rem;
    text-align: center;
    padding-left: 80px;
    padding-bottom: 70px;
   
   } 

/******* BODY ******* */


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin: border-box;
    height: 100vh;
    display: center;
    background: whitesmoke;

}  

/******** IMAGES ********/

 .memoryGame {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    justify-content: center;
    align-items: center;
} 



.memoryCard {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    transition: all .5s; 
 } 

/* by setting width to 25% and height to 33.333% minus 10px from margin */




.memoryCard:active {
    transform: scale(1);
    transition: transform .9s; 
 } 

/******** FRONT/BACK FACE ********/

.frontFace {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
     backface-visibility: hidden;
    transform: rotateY(180deg); 
}

 .backFace {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden; 
} 


/******** FLIP ********/
/* 
.memoryCard.flip {
    transform: rotateY(180deg); */
/* } */
.memoryCard:not(.turned) {
    pointer-events: none;
  }
  
  .memoryCard.turned .frontFace {
    transform: rotateY(0deg);
  }
  .memoryCard.turned .backFace {
    transform: rotateY(180deg);
  }


/******** RE-ORGNAZIZED ********/
/* 
.memoryCard {
    display: inline-block;
    perspective: 300px;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .memoryCard.turned {
    pointer-events: none;
  }
  
  .memoryCard.turned .frontFace {
    transform: rotateY(0deg);
  }
  .memoryCard.turned .backFace {
    transform: rotateY(180deg);
  } */
  
  /******** FRONT/BACK FACE ********/
/* 
  .memeoryCard .backface,
  .memoryCard .frontFace {
    width: 71px;
    height: 71px;
    margin: 10px;
    padding: 20px;
    font-size: 64px;
    transition: transform 0.6s;
  }
  
  .memoryCard .backFace {
    background-color: #456783;
  }
  
  .memoryCard .frontFace {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(-180deg) translateZ(1px);
    backface-visibility: hidden;
  } */